<!-- <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3 mb-2 me-2">Users</h1>
        <div class="p-inputtext p-component">
          <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)" placeholder="Search by ID">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12" *ngIf="isLoading">
        <p-progressBar mode="indeterminate"></p-progressBar>
      </div>
      <div class="col-md-4 col-sm-6 mb-4" *ngFor="let user of users">
        <div class="card">
          <img [src]="user.avatar" class="card-img-top" alt="User Avatar">
          <div class="card-body">
            <h5 class="card-title">{{ user.first_name }}
   -->

   <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3 mb-2 me-2">Users</h1>
        <div class="p-inputtext p-component">
          <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)" placeholder="Search by ID">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12" *ngIf="isLoading">
        <p-progressBar mode="indeterminate"></p-progressBar>
      </div>
      <div class="col-12">
        <p-table [value]="users" [paginator]="true" [rows]="pageSize" [pageLinks]="3">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Avatar</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Details</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.id }}</td>
              <td><img [src]="user.avatar" class="user-avatar" alt="User Avatar"></td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>
                <button class="btn btn-primary" (click)="navigateToUserDetails(user.id)">Details</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  